                <!-- Make a card view for posts -->
                <div class="mdl-card mdl-cell mdl-cell--8-col">
					<div  class="mdl-card__media mdl-color-text--grey-50">
					{{- if .RelPermalink }}
						<a href="{{ .RelPermalink }}">
							<img src="{{.Params.cardthumbimage}}"></img>
						</a>
					</div>
					<div style="background-color: white; text-align: center;">
						<h3><a href="{{ .RelPermalink }}" style="color: orange;">{{ title .Title }}</a></h3>
					</div>
					{{else}}
						<div style="{{with .Params.cardbackground}}background-color:{{.}};text-align: center;{{end}}">
							<h3><a href="{{ .RelPermalink }}" {{ with .Params.cardtitlecolor }}style="color:{{.}};"{{end}}>{{ title .Title }}</a></h3>
						</div>
					</div>
					{{end}}
				
                    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                        {{ .Params.summary | markdownify | emojify }}
                    </div>
                    <div class="hmdl-page-meta mdl-card__supporting-text mdl-color-text--grey-600">
                        {{- range .Params.author.image}}
                        	{{- with . }}
						{{- end}}
                        <div class="minilogo" style="background-image: url('{{.}}');"></div>
                        {{- end }}
                        <div>
                            <strong>
							{{- range .Params.author.name}}
                            	<strong>{{ . }}</strong>
							{{- end}}
							</strong>
                            <span>{{ .Date.Format "Jan 2, 2006" }}</span>
                        </div>
                    </div>
                </div>
