                    <!-- Actual buttons that fly out -->
                    <div id="fab_ctn_{{ .Params.id }}" class="mdl-button--fab_flinger-container">
                        
                        <button id="fab_btn_{{ .Params.id }}" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent">
                            <i class="icon ion-android-add mdl-color-text--white" role="presentation"></i>
                            <span class="visuallyhidden">add</span>
                        </button>
                        
                        <div class="mdl-button--fab_flinger-options">
                            <a href="{{ .RelPermalink }}">
                                <button id="about" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-color--primary" title="About Me">
                                    <i class="icon ion-person mdl-color-text--white" role="presentation"></i>
                                </button>
                            </a>
                            

							<a href=".Params.linkedin">
                                <button id="l" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-color--primary" title="My LinkedIn">
                                    <i class="icon ion-social-linkedin mdl-color-text--white" role="presentation"></i>
                            </button>
                            </a>
                            
                            <a href="mailto:{{ .Params.email }}?subject=Hi">
                                <button id="email" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-color--primary" title="Email Me">
                                    <i class="icon ion-email mdl-color-text--white" role="presentation"></i>
                                </button>
                            </a>
                        </div>
                    </div>


